body {
	font-family: Arial, sans-serif;
	color: #555;
	margin: 0px;
	background-color: #FDFDFD;
}

.btns {
	display: block;
	width: 200px;
	margin: 0;
	padding: 0;
}

.btns li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.btns li:not(:last-of-type) {
	border-bottom: 1px solid #f5f5f5;
}

.btns li a {
	display: block;
	padding: 0 5px;
	font-size: 14px;
	line-height: 40px;
	color: #444;
	text-decoration: none;
	outline: 0;
}

.btns li a img {
	float: left;
	position: relative;
	top: 3px;
	margin-right: 5px;
}

.btns li a:hover {
	background-color: #f5f5f5;
}

#status {
	background: #F5F5F5;
	text-align: center;
	padding: 0 5px;
	line-height: 25px;
}
